#lavender {
    text-align: center;
}
#tekhelet {
    color: white;
    background-color: #49306B;
    text-align: center;
    padding: 24px;
}
#ultra-violet {
    text-align: center;
    color: white;
    background-color: #635380;
    padding: 24px;
}
#mountbatten-pink {
    text-align: center;
    color: white;
    background-color: #90708C;
    padding: 24px;
}

#nature {
    text-align: center;
}
#coyote {
    text-align: center;
    color: white;
    background-color: #7E6551;
    padding: 24px;
}
#feldgrau {
    text-align: center;
    background-color: #466362;
    color: white;
    padding: 24px;
}
#columbia-blue {
    text-align: center;
    color: white;
    background-color: #C5D5E4;
    padding: 24px;
}

#matcha-red-bean {
    text-align: center;
}
#cambridge-blue {
    text-align: center;
    color: white;
    background-color: #92AD94;
    padding: 24px;
}
#reseda-green {
    text-align: center;
    color: white;
    background-color: #748B75;
    padding: 24px;
}
#rose-ebony {
    text-align: center;
    color: white;
    background-color: #503D42;
    padding: 24px;
}