* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: "Baloo Thambi 2", serif;
    background-color: #fefaf6;
}

.header {
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .logo {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: auto;
    padding: 12px;
    margin-left: 48px;
}
.header .logo #japanese {
    font-family: "Papyrus", sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.header #cuisine {
    font-style: italic;
    margin-top: -19px;
    font-size: 18px;
}
.header .navbar {
    display: flex;
}
.header .navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 12px;
    margin-right: 48px;
}
.header .navbar .menu {
    position: relative;
    margin-top: 12px;
}
.header .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #ff0000;
}
.dropdown-menu a {
    border-bottom: 1px solid #fefaf6;
    display: inline-block;
    padding: 12px;
    font-size: 13px;
}
.menu:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
.navbar .dropdown-menu a:hover {
    background-color: #fefaf6;
}

#home {
    text-align: center;
}
#home #japanese-cuisine-logo {
    padding: 24px;
    padding-bottom: 0px;
    width: 400px;
}
#home #sushi-dish {
    width: 700px;
    margin-top: 20px;
    padding: 24px;
}
#food {
    display: flex;
    justify-content: center;
    align-items: center;
}
#food #description h2 {
    font-family: "Papyrus";
    font-size: 34px;
    text-decoration: underline;
    margin-bottom: 0px;
}
#food p {
    font-family: "Baloo Thambi 2", sans-serif;
    padding: 24px;
    font-size: 22px;
    font-weight: bold;
}
#home #about #overview,
#home #about #mission-statement {
    font-family: "Papyrus", serif;
    font-size: 20px;
    text-align: center;
}
#home #about {
    background-color: #00333333;
    margin: 0px 20vw;
    margin-bottom: 15px;
}
#home #about h2 {
    margin-bottom: 0px;
    padding: 0px 24px;
    text-decoration: underline;
}
#home #about #overview p {
    border-right: 2px solid black;
    padding: 0px 12px;
    font-size: 18px;
    font-family: "Baloo Thambi 2";
}
#home #about #mission-statement p {
    padding: 0px 12px;
    font-size: 18px;
    font-family: "Baloo Thambi 2";
}
#about {
    display: flex;
}
#description a {
    color: #ff0000;
    font-size: 20px;
    font-style: italic;
}

.footer {
    background-color: #ff0000;
    font-family: "Baloo Thambi 2", sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 24px;
    padding-bottom: 32px;
}
.footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.first-column,
.second-column,
.third-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#menu {
    text-align: center;
}
#menu #logo-with-image {
    padding: 24px;
    padding-bottom: 0px;
    width: 400px;
}
#menu #gallery h2 {
    font-family: "Papyrus";
    font-size: 40px;
    text-decoration: underline;
    background-color: #ff0000;
    margin: 12px 48px;
    margin-top: 24px;
    padding: 12px;
    padding-top: 18px;
}
#menu #onigiri-menu,
#menu #udon-menu,
#menu #sushi-menu,
#menu #side-dishes-menu,
#menu #best-selling-menu,
#menu #drinks-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    gap: 12px;
}
#menu #gallery img {
    width: 100%;
    border-radius: 12px;
}

.card {
    background-color: #363b31;
}
.card p {
    color: white;
}
.card .name {
    font-family: "Papyrus";
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: bold
}
.card .ingredients {
    font-size: 15px;
    font-style: italic;
    margin-top: 0px;
}
.card .calories {
    font-size: 13px;
}
.card .price {
    font-size: 20px;
    font-weight: bold;
    background-color: #00333333;
}

/* PHONE SIZE */
@media screen and (max-width: 480px) {
    .header .navbar a {
        font-size: 13px;
        margin-right: 0px;
        padding-right: 5px;
        text-align: center;
    }

    .header .dropdown-menu a {
        padding: 5px;
        margin: 0px;
        font-size: 12px;
    }
    .header .logo {
        margin-left: 5px;
    }
    .header .logo #japanese {
        font-size: 16px;
    }
    .header .logo #cuisine {
        font-size: 10px;
        padding-top: 7px;
    }
    #home #japanese-cuisine-logo {
        width: 300px;
    }
    #home #about {
        flex-direction: column;
        margin: 0px 12px;
        padding: 2px 5px;
    }
    #home #about #overview h2, 
    #home #about #mission-statement h2 {
        font-size: 25px;
    }
    #home #about #overview {
        border-bottom: 2px solid black;
    }
    #home #about #overview p {
        border-right: 0px solid transparent;
    }
    #home #about #overview {
        text-align: left;
    }
    #home #about #mission-statement {
        text-align: right;
    }
    #home #about #overview p,
    #home #about #mission-statement p {
        font-size: 17px;
    }
    #home #food {
        flex-direction: column;
    }
    #home #food #sushi-dish {
        width: 450px;
        padding-bottom: 0px;
    }
    #home #description h2 {
        font-size: 29px;
    }
    #home #description p {
        font-size: 18px;
    }
    #home #description a {
        font-size: 16px;
    }

    .footer {
        margin-top: 24px;
        font-size: 14px;
    }
}